*{
	font-family: consolas;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 50%;
	margin: 0 auto;
	background-color: #ff5;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.head-game{
	width: 100%;
	display: flex;
}
.title{
	width: 90%;
}
.relleno{
	padding: 0 40px;
}
.btnReload{
	outline: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 40px;
	width: 10%;
	/**/display: none; 
}
.btnReload:hover{
	opacity: .8;
}
.frame-game{
	position: relative;
	width: 270px;
	height: 270px;
}

.letras-guion p{
	font-size: 45px;
	/**/display: none; 
}

#btnStart{
	font-size: 25px;
	padding: 10px;
	background-color: #ff0;
	font-weight: bolder;
	cursor: pointer;
	border-radius: 10px;
}
#btnStart:hover{
	background-color: #fff;

}

.letraUsuario{
	/**/display: none; 
}
.letraUsuario .txtLetra{
	padding: 5px;
	font-size: 20px;
	width: 50px;
	text-align: center;
	border: 2px dashed #000;
	outline: none;
}

.letraUsuario .lblText{
	font-size: 20px;
}


.btnCheck{
	border-radius: 100%;
	font-size: 30px;
	position: relative;
	cursor: pointer;
	animation-name: moving;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}


@keyframes moving{
	0%{
		top: 6px;
	}
	50%{
		top: 6px;
		transform: translatex(6px);	
	}
	100%{
		top: 6px;
		transform: translatex(6px);
	}
}


.loser{
	background-color: red;
	color: #fff;
	margin-top: 30px;
	padding: 10px;
	font-size: 35px;
	text-align: center;
}
.winner{
	background-color: green;
	color: #fff;
	margin-top: 30px;
	padding: 10px;
	font-size: 35px;
	text-align: center;
}


.palo1, .palo2, .palo3, .palo4, .pierna1, .pierna2, .brazo1, .brazo2, .cuerpo{
	border: 5px solid #333;
	position: absolute;

}
.palo1, .palo2{
	width: 100px;
	top: 200px;
}

.palo1{
	transform: rotate(120deg);
}
.palo2{
	transform: rotate(-120deg);
	left: 50px;
}
.palo3{
	width: 140px;
	transform: rotate(90deg);
	left: 5px;
	top: 95px;
}

.palo4{
	width: 140px;
	transform: rotate(180deg);
	left: 65px;
	top: 40px;
}

.cabeza{
	border: 9px solid #333;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	position: absolute;
	left: 170px;
	top: 55px;
}

.cuerpo{
	width: 60px;
	transform: rotate(90deg);
	left: 170px;
	top: 140px;
}

.brazo1{
	width: 40px;
	transform: rotate(130deg);
	left: 170px;
	top: 140px;
}

.brazo2{
	width: 40px;
	transform: rotate(-130deg);
	left: 190px;
	top: 140px;
}

.pierna1{
	width: 55px;
	transform: rotate(-120deg);
	left: 185px;
	top: 190px;
}
.pierna2{
	width: 55px;
	transform: rotate(120deg);
	left: 160px;
	top: 190px;
}

.ojo1, .ojo2{
	font-size: 17px;
	font-weight: bolder;
	transform: rotate(90deg);
	position: absolute;
	top: 68px;
}
.ojo1{
	left: 180px;
}
.ojo2{
	left: 200px;
}

@media screen and (max-width: 560px){
	.container{
		width: 100%;
		background-color: #ff5;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}
}